@model List<WebApplication1.Models.employee_salary_details>
@{
    ViewBag.Title = "mainview1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}

<h2>mainview1</h2>

<style>
    table, td, th {
        background-color: blue;
    }
</style>

@using (Html.BeginForm("mainview1", "main2", FormMethod.Get))
    {
                <b>search option</b>
    <input type="date" name="searchfrom" />

    <input type="date" name="searchto" />
    <input type="submit" name="submit" value="search" />
    }






}
<h2>employee list</h2>
<table class="table" border="1">
    <tr>
        <th>SN</th>
        <th>name</th>
        <th>employeeid</th>
        <th>salary paid</th>
        <th>paid date</th>
    </tr>
    @foreach (var data in Model)
    {
        <tr>
            <td>@(++sn)</td>
            <td>@data.employee.firstname</td>
            <td>@data.employee_id</td>
            <td>@data.salary_paid</td>
            <td>@data.paid_date</td>
            

        </tr>


        }
    </table>
    <a href="@Url.Action("create2view")">Add Record</a>