@model List<WebApplication1.Models.employee_salary_details>
@{
    ViewBag.Title = "mainview1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}

<h2>mainview1</h2>


    ViewBag.Title = "mainview";
    
}
<style>
    table, td, th {
        background-color: blue;
    }
</style>
<h2>employee list</h2>
<table class="table" border="1">
    <tr>
        <th>SN</th>
        <th>name</th>
        <th>employeeid</th>
        <th>salary paid</th>
        <th>paid date</th>
    </tr>
    @foreach (var data in Model)
    {
        <tr>
            <td>@(++sn)</td>
            <td>@data.employee.firstname</td>
            <td>@data.employee_id</td>
            <td>@data.salary_paid</td>
            <td>@data.paid_date</td>
            

        </tr>
        <tr>
            <td>total</td>
            <td colspan="2">@model.sum(X=>X.salary_paid)</td>
                </tr>
        </tr>



        }
    </table>
    <a href="@Url.Action("create2view")">Add Record</a>