@model List<WebApplication1.Models.employee>
@{
    ViewBag.Title = "mainview";
    int sn = 0;
}
<style>
    table, td, th {
        background-color: blue;
    }
    </style>
@using(Html.BeginForm("mainview",null,FormMethod.Get))
            {
                <br /><br /> <b> search option</b><br /><br />@Html.RadioButton("option","name")<text>Name</text>
        @Html.RadioButton("option","id")<text>ID</text><br /><br />@Html.TextBox("search")<input type="submit" name="submit" value="search"/>
           }
<h2>employee list</h2>
<table class="table" border="1">
    <tr><th>SN</th>
        <th>employeeid</th>
        <th>last name</th>
        <th>first name</th>
        <th>date time</th>
        <th>address</th>
        <th>city</th>
    </tr>
    @foreach (var data in Model)
    {
        <tr>
            <td>@(++sn)</td>
            <td>@data.employeeID</td>
            <td>@data.lastname</td>
            <td>@data.firstname</td>
            <td>@data.birthdate</td>
            <td>@data.address</td>
            <td>@data.city</td>
            <td><a href="@Url.Action("edit", new { employeeID= data.employeeID })">edit</a></td>
        </tr>
        


    }
</table>







